/* body {
    color: red;
}

div {
    color: blue;
}

span {
    color: purple;
} */

#main-content p {
    color: red;
}

p {
    color: black;
}

.test {
    color: green !important;
}

strong {
    color: green;
}